body {
    background-color: rgb(180, 255, 255);
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    height: 100vh;
}
.popup {
    background-color: rgb(175, 200, 255);
    border-color: rgb(100, 150, 225);
    border-width: 5px;
    border-style: solid;
    border-radius: 10px;
    padding: 3px;
    box-sizing: border-box;
    box-shadow: 5px 5px 10px rgb(50, 100, 200);
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}
.banner {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    background-color: rgb(75, 100, 255);
    width: 100%;
    height: 15vh;
    border-color: rgb(175, 125, 255);
    border-width: 10px;
    border-style: solid;
    box-sizing: content-box;
    border-radius: 20px;
    box-shadow: 0px 10px 10px rgb(175, 125, 255);
}
.header {
    font-size: 5.25vmin;
    font-weight: 800;
}
.title {
    font-size: 4vmin;
    font-weight: 700;
}
.sub-title {
    font-size: 3vmin;
    font-weight: 600;
}
.note {
    font-size: 1.5vmin;
    font-weight: 900;
    color: rgba(0, 20, 200, 0.5)
}
p {
    font-size: 2.25vmin;
    font-weight:500;
    padding: 3px;
    margin: 1px;
    font-family: Arial, Georgia, sans-serif;
    color: rgb(0, 20, 200)
}
.footer {
    background-color: rgb(180, 225, 250);
    width: 100%;
    margin-top: auto;
    text-align: left;
}
.logo {
    width: 15vmin;
    height: 15vmin;
    margin-left: 0px;
    margin-right: auto;
}
.button {
    background-color: rgb(175, 200, 255);
    border-color: rgb(100, 150, 225);
    border-style: solid;
    border-width: 6px;
    border-radius: 10px;
    padding: 6px;
    font-size: 3vmin;
    font-weight: 700;
    font-family: Arial, Georgia, sans-serif;
    color: rgb(0, 20, 200);
    text-decoration: none;
    margin: 6px
}
.button:hover {
    background-color: rgb(255, 175, 255);
    border-color: rgb(255, 100, 200);
    border-style: solid;
    border-width: 6px;
    border-radius: 10px;
    padding: 10px;
    font-size: 3.1vmin;
    font-weight: 700;
    font-family: Arial, Georgia, sans-serif;
    color: rgb(120, 20, 200);
    text-decoration: none;
    margin: 6px;
    box-shadow: 0px 0px 7px 5px rgb(75, 175, 255);
}
.widget_row {
    width: 75%;
    height: 35%;
    display: flex;
    flex-direction: row;
    jusify-content: center;
    align-items: center;
    padding: 5px;
    box-shadow: 0px 0px 7px 6px rgba(0, 0, 255, 0.25);
    background-color: rgba(0, 0, 255, 0.25);
    border-color: rgba(0, 0, 255, 0.1);
    border-width: 3px;
    border-radius: 5px;
    border-style: solid;
}